/* =============================== */
/* Theme Color Variables           */
/* =============================== */

:root {
  --color-light: #eee;
  --color-dark: #222;
  --color-highlight: #f32121;
}

/* =============================== */
/* Color Utility Classes           */
/* =============================== */

/* Add color utility classes here */ 