/* =============================== */
/* Theme Color Variables           */
/* =============================== */

:root {
  --color-background: #ccc;
  --color-text: #222;
  --color-highlight: #fc2121;
}

/* =============================== */
/* Color Utility Classes           */
/* =============================== */

/* Add color utility classes here */ 